<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GradePulse | landing page</title>
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel="icon" href="../images/Logo.png" type="image/x-icon" />
    </head>
    <body>
        <nav class="nav-bar">
            <div class="logo"><img src="../images/Logo.png" alt /></div>
            <ul class="nav-bar-list" id="toggle-nav">
                <img src="../images/close_24dp_FILL0_wght400_GRAD0_opsz24 (1).svg" alt="" id="close-Btn" />
                <li>
                    <img src="../images/home_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
                    <a href>Home</a>
                </li>
                <li>
                    <img src="../images/devices_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
                    <a href>Features</a>
                </li>
                <li>
                    <img src="../images/contacts_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
                    <a href>Contact</a>
                </li>
                <div class="signUp-signIn">
                    <li><a href>Signup</a></li>
                    <li><a href>Signin</a></li>
                </div>
            </ul>
            <img src="../images/menu_24dp_FILL0_wght400_GRAD0_opsz24 (1).svg" alt="" id="menu-btn" />
        </nav>
        <div class="show-hero"></div>
        <section class="hero-section">
            <div class="hero-section-text">
                <h1>Track Your Academic Success with GradePulse</h1>
                <p>The ultimate tool to monitor your grades, manage stress, and achieve your academic goals.</p>
                <a href="">Get Started</a>
            </div>
            <div class="hero-section-image">
                <img src="../images/businessman-working-laptop-removebg-preview.png" alt="" />
            </div>
        </section>
        <section class="how-it-works-section">
            <div class="how-it-works-top">
                <h2>How GradePulse works</h2>
                <p>GradePulse makes managing your academic performance effortless. Our intuitive platform guides you through each step, from setting up your profile to tracking your grades and predicting your future GPA.</p>
            </div>
            <div class="how-it-works-right-left-middle-container">
                <div class="how-it-works-left">
                    <!-- BOX 1 -->
                    <div class="how-it-works-box">
                        <h2>1</h2>
                        <h3>Sign Up and Set Up Your Profile</h3>
                        <p>Create an account and enter your academic details to get started on your path to better performance.</p>
                    </div>

                    <!-- BOX 2 -->
                    <div class="how-it-works-box">
                        <h2>2</h2>
                        <h3>Input Your Courses and Grades</h3>
                        <p>Easily add your courses, grades, and credit hours to keep an accurate record of your academic history.</p>
                    </div>
                </div>
                <div class="how-it-works-middle center">
                    <img src="../images/businessman-working-laptop__1_-removebg-preview.png" alt="" />
                </div>
                <div class="how-it-works-right">
                    <!-- BOX 3 -->
                    <div class="how-it-works-box">
                        <h2>3</h2>
                        <h3>Track Your Progress</h3>
                        <p>Monitor your GPA in real-time with our intuitive dashboard, and receive personalized insights and recommendations.</p>
                    </div>

                    <!-- BOX 4 -->
                    <div class="how-it-works-box">
                        <h2>4</h2>
                        <h3>Achieve Your Goals</h3>
                        <p>Use our predictive tools and personalized study tips to stay on top of your academic performance and reach your goals.</p>
                    </div>
                </div>
            </div>
        </section>
        <script src="../javascript/landing.js"></script>
    </body>
</html>
